@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}


p,h1,h2,h3,h4,h5,h6{
  font-family: 'Jost', sans-serif;
}
/* ---------------------nav-------------------------------- */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(55,81,126,0.9),rgba(55,81,126,0.9));
  height: 80px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 991;
  overflow: hidden;
}
.logo{
  padding-left: 9%;
  width: 30%;
}
.logo h1{
color: white;
font-size: 28px;
font-family: 'Abel', sans-serif;
}

.manu ul li,a{
  display: inline;
  text-decoration: none;
  padding-top: 5px;
  font-size: 15px;
  color: rgb(19, 18, 18);
  padding-right: 13px;
  color: white;
  font-weight: 500;
  justify-content: space-between;
  font-family: 'Abel', sans-serif;
  
}
.manu ul li,a:hover{
  color: #31A9E1;
  transition: 0.5;
}

.button{
  margin-right: 9%;
  padding: 8px 18px;
  font-size: 18px;
  border: 2px solid #31A9E1;
  border-radius: 40px;
  box-sizing: border-box;
  color: white;
}
.button:hover{
  margin-right:9%;
  padding: 8px 15px;
  border: 2px solid #31A9E1;
  background-color: #31A9E1;
  border-radius: 40px;
  cursor: pointer;

}

/* ---------------------nav End-------------------------------- */

/* ---------------------Home-------------------------------- */

.Hero_img{

  width: 100%;
  background-color: #37517E;
  display: flex;
  height: 65vh;
  padding-top: 15vh;
  
}
.contant{
  width: 50%;
  margin-left: 9%;
  padding-top: 45px;
}
.contant h1{
  font-size: 48px;
  color: #fff;
  line-height: 56px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: 'Jost', sans-serif;
}
.contant p{
  font-size: 25px;
  color: #fff;
  line-height:30px;
  margin-bottom: 20px;
  opacity: 60%;
  font-family: 'Jost', sans-serif;
}
.sub_contant{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.sub_contant_button{
  background-color: #4db6e7;
  padding: 10px 30px; 
  color: white;
  font-size: 18px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-family: 'Jost', sans-serif;
  font-weight: 600;
}
.sub_contant_button:hover{
  background-color: #1695cf;
  transition: 0.2s;
}
.sub_contant_Play{
  display: flex;
  align-items: center;
  margin-left: 23px;
  font-size: 20px;
  cursor: pointer;
}
.sub_contant_Play:hover i{
  background-color: #1695cf;
  transition: 0.2s;
  border-color: #1695cf;
}
.sub_contant_Play i{
background-color: #F3F5FA;
font-size: 28px;
color: #37517E;
padding-bottom: -1px;
padding: 1px 1px 1px 1px;
border: 2px solid white;
border-radius: 50%;
margin-right: 8px;
font-weight: 600;
}
.sub_contant_Play p{
  padding-top: 20px;
  font-size: 18px;
  opacity: 100%;
  font-family: 'Jost', sans-serif;
}

.Hero_img img{
  width: 550px;
  height: 400px;
}
.img{
  
  width: 50%;
  float: right;
  margin-right: 9%;

}


/* ------------------------------------------All_logo---------------------------------- */

.All_logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F3F5FA;
  height: 90px;
  padding: 0px 12%;

}
.All_logo img{
  width:74px;
  height: 32px;
  padding: 15px 0px;
  filter: grayscale();
}
.All_logo :hover{
  width:80px;
  height: 36px;
  padding: 15px 0px;
  transition: 0.3s;
  filter: none;
}

/* ------------------------------------------All_logo---------------------------------- */

/* ------------------------------------------About------------------------------------ */
#About{
  width: 100%;
}
.Section_tile{
  align-items: center; 
  text-align: center;
 padding: 70px 0px 20px ;
  font-size: 36px;
  font-weight: 600;
  color: #37517E;
  font-family: 'Jost', sans-serif;
}

.Section_tile p::before{
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: -120px;
  left: calc(50% - 60px);
}

.Section_tile p::after{
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: -120px;
  left: calc(50% - 20px);
}
.deatils{
  display: flex;
  margin: 30px 9%;
  /* margin-top: 20px; */
  width: 100%;
}
.deatils1{
  width: 41%;
  padding-right: 30px;
}
.deatils p{
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  opacity: 60%;
  padding-bottom: 10px;
}
.deatils li{
list-style: none;
padding: 8px 0px;
}
.deatils li i{
 color: #4FB5E5;
 padding-right: 15px;
 
}
.deatils li span {
  color: #4FB5E5;
  font-family: 'Jost', sans-serif;
  color: black;
  opacity: 60%;
  font-size: 18px;

}
.deatils2{
  width: 41%;
  text-align: justify;
}
.deatils1,.deatils2{
  padding-top: 30px;
}
.Learn{
  width: 100px;
  border: 2px solid #4FB5E5 ;
  color: #4FB5E5;
  margin-top: 23px;
  padding: 8px 15px;
  font-size: 18px;
  border-radius: 5px;
}


/* ------------------------------------------About End---------------------------------- */

/* ------------------------------------------About2---------------------------------- */
.About2{
  background-color: #F3F5FA;
  display: flex;
  width: 100%;
  
 
}
.About2-main{
  display: flex;
  margin: 120px 0% 120px 9%;
}

.About2_containt{
  width: 41%;
}
.p1{
  font-size: 36px;
  color: #37517E;
  padding: 10px;
  font-family: 'Jost', sans-serif;
}
.p2{
  padding: 10px;
  font-size:16px;
  color:black;
  opacity: 60%;
  text-align: justify;
  font-family: 'Jost', sans-serif;
  
}
.contain2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 70px;
  margin: 10px 0px 20px 10px;
}
.contain2 p{
padding: 10px;
font-size: 22px;
font-weight: 600;
color: #47B2E4;
font-family: 'Jost', sans-serif;

}
.contain2 a{
  padding: 10px;
  font-size: 18px;
  color: black;
  font-family: 'Jost', sans-serif;
  opacity: 70%;
  
  }
  .contain2:hover a  {
    color: #47B2E4;   
}
.contain2:hover i  {
  color: #47B2E4; 
  transition: 0.2S;  
}
.contain2 i{
  padding: 20px;
  transition: 0.2S;  
}
.contain3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 70px;
  margin: 10px 0px 20px 10px;
}
.contain3 p{
padding: 10px;
font-size: 22px;
font-weight: 600;
color: #47B2E4;
font-family: 'Jost', sans-serif;

}
.contain3 a{
  padding: 10px;
  font-size: 18px;
  color: black;
  font-family: 'Jost', sans-serif;
  opacity: 70%;
  
  }
  .contain3:hover a  {
    color: #47B2E4;   
}
.contain3:hover i  {
  color: #47B2E4;  
  transition: 0.2S;  
 
}
.contain3 i{
  padding: 20px;
  transition: 0.2S;  
}
.contain4{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  height: 70px;
  margin: 10px 0px 20px 10px;
}
.contain4 p{
padding: 10px;
font-size: 22px;
font-weight: 600;
color: #47B2E4;
font-family: 'Jost', sans-serif;

}
.contain4 a{
  padding: 10px;
  font-size: 18px;
  color: black;
  font-family: 'Jost', sans-serif;
  opacity: 70%;
  
  }
  .contain4:hover a  {
    color: #47B2E4;   
}
.contain4:hover i  {
  color: #47B2E4;  
  transition: 0.2S;  
 
}
.contain4 i{
  padding: 20px;
  transition: 0.2S;  
}

.About2_img{
  width: 41%;
  margin-left: 120px;
}

.About2_img img{
  width: 100%;
  height: 75vh;
  transition: 0.5s;
 
}
/* ------------------------------------------About2 End ---------------------------------- */


/* --------------------------------About3 ---------------------------- */
.About3{
  margin: 30px 9%;
  display: flex;  
}
.About3_img{
  width: 41%;
  overflow: hidden;
  padding-right: 60px;
  padding-top: 60px;
}

.About3_img img{
  width: 500px;
  height: 350px;
}
.About3_containt{
 width: 50%;
  padding-top: 30px;

}
.About3_containt h1{
font-size: 40px;
color: #3F5883;
font-family: 'Jost', sans-serif;
line-height: 37px;
   
 }
 .About3_containt p{padding-top: 20px;}
 .About3_containt p i{
  font-size: 18px;
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  line-height:25px;
  opacity: 80%;
 }

 .section{
   padding: 5px 0px 10px;
 }
 .percent{
   display: flex;
 }
 .title{
   display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
 color: #4668A2;
 font-size: 12px;
 font-weight: 400;
 font-family: 'Jost', sans-serif;
 padding: 5px;
 }
 .djfh{
   width: 100%;
   height: 10px;
   background-color: #4668A2;
 }
 ._2{
   width: 10%;background-color: #4668A2;
   opacity: 30%;
 }
 ._3{
  width: 25%;background-color: #4668A2;
  opacity: 30%;
}
._4{
  width: 60%;background-color: #4668A2;
  opacity: 30%;
}
.Service{
  height: 120px;
  width: 100%;
  background-color: #F3F5FA;
 
}
.service_title{
  align-items: center;
  text-align: center;
 padding: 70px 0px 10px ;
  font-size: 36px;
  font-weight: 600;
  color: #37517E;
  font-family: 'Jost', sans-serif;
}
.line{
  display: flex;
  width: 100%;
  justify-content: center;
}
.title_1 {
  width: 30px;
  background-color: #ddd;
  height: 2px;

}
.title_3{
  width: 30px;
  background-color: #ddd;
  height: 2px;
}
.title_2{
  width: 30px;
  background-color: #47B2E4;
  height: 3px;
}
#Service{
  background-color: #F3F5FA;
  background-image: url("/img/cta-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.Service_containt{
 
  font-weight: 500;
  width: 80%;
  text-align: center;
  padding: 20px  9% 100px;

  

}
.Service_containt p{
  opacity: 70%;
  font-family: 'Jost', sans-serif;
  font-size: 17px;
}
.Service_protfolio {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.Service-protfolio-1{
  background-color: #fff;
  width: 23%;
  height: 40Vh;
  box-shadow: 30px 5px 30px rgb(213, 213, 214);
  margin-top: 20px;
  text-align: left;
}


.Service-protfolio-1:hover{
  margin-top: 10px;
  transition: 0.6s;

}
.Service-protfolio-1:hover h5{
  color: #47B2E4;
}

.Service-protfolio-2{
  background-color: #fff;
  width:23%;
  height: 40Vh;
  margin-top: 20px;
  box-shadow: 30px 5px 30px rgb(213, 213, 214);
  text-align: left;}

.Service-protfolio-2:hover {
  margin-top: 10px;
  transition: 0.6s;
}
.Service-protfolio-2:hover h5{
  color: #47B2E4;
}
.Service-protfolio-3{
  background-color: #fff;
  width: 23%;
  height: 40Vh;
  margin-top: 20px;
  box-shadow: 30px 5px 30px rgb(213, 213, 214);
    text-align: left;
}
.Service-protfolio-3:hover{
  margin-top: 10px;
  transition: 0.6s;
}
.Service-protfolio-3:hover h5{
  color: #47B2E4;
}
.Service-protfolio-4{
  background-color: #fff;
  width: 23%;
  height: 40Vh;
  margin-top: 20px;
  box-shadow: 30px 5px 30px rgb(213, 213, 214);
  text-align: left;
}
.Service-protfolio-4:hover{
  margin-top: 10px;
  transition: 0.6s;
}
.Service-protfolio-4:hover h5{
  color: #47B2E4;
}
.Service-protfolio-1 i{
font-size:36px;
padding-left: 20px;
padding-top: 40px;
color: #47B2E4;
}
.Service-protfolio-1 h5{
  font-size:22px;
  padding: 20px 0px 10px 20px;
  color: #37517E;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  }

.Service-protfolio-1 p{
  font-size:15;
  padding: 0px 20px 0px 20px;
   color: black;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
 }
.Service-protfolio-2 i{
  font-size:36px;
  padding-left: 20px;
  padding-top: 40px;
  color: #47B2E4;
 }
.Service-protfolio-2 h5{
   font-size:22px;
   padding: 20px 0px 10px 20px;
   color: #37517e;
   font-family: 'Jost', sans-serif;
   font-weight: 500;
}
 .Service-protfolio-2 p{
  font-size:15;
  padding: 0px 20px 0px 20px;
  color: black;
  font-family: 'Jost', sans-serif;
 font-weight: 400;
}
.Service-protfolio-3 i{
  font-size:36px;
  padding-left: 20px;
  padding-top: 40px;
  color: #47B2E4;
 }
.Service-protfolio-3 h5{
   font-size:22px;
   padding: 20px 0px 10px 20px;
   color: #37517E;
   font-family: 'Jost', sans-serif;
   font-weight: 500;
}
 .Service-protfolio-3 p{
  font-size:15;
  padding: 0px 20px 0px 20px;
  color: black;
  font-family: 'Jost', sans-serif;
 font-weight: 400;
}
.Service-protfolio-4 i{
  font-size:36px;
  padding-left: 20px;
  padding-top: 40px;
  color: #47B2E4;
 }
 .Service-protfolio-4 h5{
   font-size:22px;
   padding: 20px 0px 10px 20px;
   color: #37517E;
   font-family: 'Jost', sans-serif;
   font-weight: 600;
   opacity: 100%;
  }
  .Service-protfolio-4 p{
    font-size:15;
    padding: 0px 20px 0px 20px;
    color: black;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
  }
  
  .bg{
    background-color: white;
  }
  .bg-gradient{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(55,81,126,0.8),rgba(55,81,126,0.8));
    display: flex;
    align-items: center;
  }
  .bg-gradient-containt-1{
    padding: 0px 9%;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
  }
  .bg-gradient-containt-1 h1{
    font-size: 36px;
}
.bg-gradient-containt-1 p{
  font-size: 18px;
}
.bg-gradient-containt-2{
  padding-right: 120px;
  
  
}
.bg-gradient-containt-2 button{
  padding: 15px;
  width:200px;
  border: 2px solid white;
  border-radius:60px;
  font-size: 20px;
  background: linear-gradient(rgba(55,81,126,0.10),rgba(55,81,126,0.10));
  color: white;
  
}
.bg-gradient-containt-2 button:hover{
  background-color: #47B2E4;
  border: 0px;
  transition: 0.2s;
}
/* ------------------------------------------About3 End ---------------------------------- */
.manuber{
  display: flex;
  width: 100%;
  justify-content: center;
}
  .manuber div{
    background-color: white;
    border: #1695cf;
    border-radius: 50px;
    color: black;
    padding: 5px 15px;
    margin: 15px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
   
  }
  .manuber div:hover{
    background-color: #4db6e7;
    transition: 0.3s;
  }
  .protfole{
    
    padding-bottom: 70px;
    width: 100%;
  }
  .protfole1,.protfole2,.protfole3{
    margin: 20px 9% 0px;
  }
  .protfole img{
    width: 30%;
    height: 350px;
    margin: 10px;
    justify-content: space-between;
  }
  .protfole div{
    /* display: flex; */
  }
  /* ----------------------------Team----------------------------------------------- */
  #Team{
    background-color:#F3F5FA;
    height: 100%;
    overflow: hidden;
    padding-bottom: 30px;
  }
.team-containt{
  margin: 20px 9%;

 
}
.flex-box{
max-width: 100%;
display: flex;
}
.flex{
  width: 48%;
  height: 220px;
  margin: 10px;
  background-color:white;
  box-shadow: -1px 0px 15px -10px;
  display: flex;
  align-items: center;
}
.flex:hover{
  margin-top: 0px ;
  transition: 0.8s;
}

.team-img img{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 20px;
}
.team-contain-containt  span::after{
  content: "";
  position: relative;
  display: block;
  width:60px;
  height: 2px;
  background: #cbd6e9;
  bottom: -5px;
  margin-bottom: 10px;
  left: 0;
}
.team-contain-containt h4 {
  font-size: 20px;
  padding-bottom: 10px;
  color:#37517E;
  font-weight: 600;
  opacity: 100%;
  font-family: 'Jost', sans-serif;
 
}
.team-contain-containt {
  font-size: 16px;
  color: black;
  text-align: justify;
  margin-right: 50px;
  line-height: 20px;
  margin-bottom: 10px;
}

.icon {
  display: flex;
  cursor: pointer;
  
}
.icon div {
  height: 30px;
  width: 30px;
  background-color: #d6d7da;
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 20px;
}
.icon div:hover{
  background-color: #31A9E1;
  color: white;
  transform: 0.4s;
}
.icon div:hover i{
  color: white;
  transform: 0.4s;
}
.icon i{
  color: #37517E;
}

  /* ----------------------------Team----------------------------------------------- */

  /* ----------------------------Pricing----------------------------------------------- */

  #Pricing{
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  .main-price{
    margin: 0px 9%;
    padding: 40px 0px;
    
    display: flex;
  }
  .Price-1,.Price-2,.Price-3{
    width: 32%;
    height: 90vh;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -20px;
  }
  .Price-containt-1,.Price-containt-2{
    margin: 50px 30px;
  }
  .Price-containt-1 h5{
    font-size: 20px;
    color:#37517E;
    font-weight: 500;
    margin: 10px 0px;
    font-family: 'Jost', sans-serif;
  }
  .Price-containt-1 sup{
    font-size: 30px;
    color:#37517E;
  }
  .Price-containt-1 sub{
    font-size: 42px;
    font-weight: 400;
    margin-left: -5px;
    color:#37517E;
  }
  .p{
    color: #61BDE8;
    font-weight: 400;
    font-size: 18px;
    margin: -10px 0px;
  }
  .Price-containt-2 .click{
    font-size: 18px;
    color: #08880e;
    font-weight: 550;
    margin: 10px 0px;
    opacity: 80%;
  
  }
  .Price-containt-2 i span{
    font-size: 15px;
    opacity: 40%;
    font-weight: 700;
    color: black;
    font-family: 'Jost', sans-serif;
  }
 .hellow{
   font-size: 17px;
   color: #D5D5D5;
   margin: 10px 0px;

 }
  .Price-containt-button ,.Price-containt-button-2{
    margin: 50px 30px;
    margin-top: -10px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 60px;
    border: 1px solid #31A9E1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height:30px;
    font-size: 18px;
    color: #31A9E1;
    font-weight: 700;
  }
  .Price-containt-button:hover , .Price-containt-button-2{
    background-color:#31A9E1 ;
    color: white;
    transition: 0.5s;
  }
 #question{
   background-color: #F3F5FA;
   padding-bottom: 100px;
 }
 .ask{
   width: 70%;
   margin: -50px 15%;
 }
 .logo-ask{
   display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 20px 0px;
  background-color: #fff;
  cursor: pointer;
 }
 .logo-ask-3{
 padding: 30px;
 color: #37517E;
 font-size: 15px;
 }
 .logo-ask:hover {
   color: #1695cf;
   transition: 0.5s;
 }
 .logo-ask:hover a {
  color: #1695cf;
  transition: 0.5s;
}
.logo-ask:hover i {
  color: #1695cf;
  transition: 0.5s;
}
.logo-as-2{

  width: 94%;
}
 .logo-as-2 a{
   color: #37517E;
   font-size:18px;
   font-weight: 500;
   font-family: 'Jost', sans-serif;
 }
 .logo-ask-1{
   padding: 0px 10px;
   color: #1695cf;
 }
 #contact{
   background-color: white;
 }
 .contact-information{

   border-top: 4px solid #1695cf;
   border-bottom: 4px solid #1695cf;
   background-color: white;
   box-shadow: 0px 10px 30px -20px;
 }
 .information-main{
   display: flex;
   margin: 20px 0px;
   padding: 0px 20px;
 }
 .information-main:hover .information-logo{
   background-color: #47b2e4;
   color: white;
   transition: 0.5s;
 }
 .information-logo{
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
  justify-content: center;
   border-radius: 50%;
  background-color: #E7f5fb;
  margin-right: 20px;
  color: #37517E;

 }
 .information-logo i{
  font-size: 25px;

 }
 .information-content h2{
   font-size: 22px;
   color: #37517E;
   font-family: 'Jost', sans-serif;
   margin-bottom: 5px;
 }
 .information-content p{
  font-size: 14px;
  margin-bottom: 5px;
  color: #6182ba;
  padding-right: 80px;
}
.mapouter{
  padding:20px 20px 50px;
  width: 100vh;
}
 /* ----------------------------Pricing End ----------------------------------------------- */

 .contact-froms{
  border-top: 4px solid #1695cf;
  border-bottom: 4px solid #1695cf;
  background-color: white;
  box-shadow: 0px 10px 30px -20px;
  margin-left: 30px; 
  padding: 20px;
  width: 100%;
}
.input-name{
  display: flex;
  width: 100%;
}
.name input{
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  outline: none;
  font-size: 18px;
 
}
.name,.email{
  font-size: 16px;
  color: #444444;
  width: 45.5%;
  font-family: 'Jost', sans-serif;

  
  
}
.email {
margin-left: 50px;
}
.email input{
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  
}
.Subject{
  margin: 20px 0px;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: #444444;
}
.Subject input{
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  font-family: 'Jost', sans-serif;
}
.contect-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.contect-button-main{
  padding: 10px 30px;
  background-color: #31A9E1;
  font-size: 18px;
  color: white;
  border-radius: 50px;
}
.contect-button-main:hover{
  background-color: #0987c2;
}
#join{
  background-color: #F3F5FA;
  width: 100%;
  height: 40vh;
  justify-content: center;
  display: flex;
}
.join-contaner{
  padding: 30px;
  text-align: center;
}
.join-contaner h2{
  color: #37517E;
  font-size: 26px;
  display: flex;
  justify-content: center;
}
.join-contaner p{
  padding: 20px;
  font-size: 18px;
}
.join-section{
  width: 100%;
  display: flex;
  margin: 20px;
  
  

}
.join-section-1{
  width: 170%;
  background-color: white;
  border-radius: 50px;
  height: 50px;
  box-shadow: 0px 10px 30px -15px;
}
.join-section-1 input{
  width: 70%;
  height: 100%;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 18px;
}
.join-section-2{
  background-color: #31A9E1;
 
  color: white;
  border-radius: 50px;
  height: 50px;
  width: 25%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-section-2 a{
  font-size: 18px;
}
.join-section-2:hover{
  background-color: #0987c2;
}
.sub-footer-container{
  margin: 30px 9%;
  display: flex;
  justify-content: space-between;
}